@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/*
@font-face {
font-family: "OpenSans";
src: url("../fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
font-weight: 700;
font-style: normal;
}

@font-face {
font-family: "OpenSans";
src: url("../fonts/Open_Sans/OpenSans.ttf") format("truetype");
font-weight: 400;
font-style: normal;
}
*/


body {
    margin: 0;
    font-size: 16px;
    transition: 0.3s;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: 400;
    font-family: "Roboto-Regular";
}

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}

div {
    color: #4a4a4a;
}

.btn {
    text-decoration: none;
    text-transform: uppercase;
    background: linear-gradient(158deg, #ff3345 0%, #cb0120 100%);
    color: #fff;
    outline: none;
    border: none;
    height: 49px;
    line-height: 49px;
    text-align: center;
    font-family: "RobotoLight", sans-serif;
    font-size: 10px;
    cursor: pointer;
    transition: 0.2s;
    padding: 0 30px;
    border-radius: 28px;
    display: inline-block;
    width: 214px;
    box-shadow: 0 0 50px rgba(255, 51, 69, 0);
}

.btn:hover,
.btn:focus,
.btn:active {
    box-shadow: 0 0 50px rgba(255, 51, 69, 0.6);
}

table {
    width: 100%;
}

table,
tr,
td,
th {
    transition: 0.1s;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
}


.img {
    background-position: center;
    background-repeat: no-repeat;
}

.input {
    width: 100%;
    border: none;
    border-bottom: 3px solid #d8d8d8;
    text-align: center;
    line-height: 30px;
    letter-spacing: 3px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #979797;
}

.input:focus {
    outline: none;
}

.textarea {
    width: 100%;
    border-bottom-right-radius: 20px;
    border: 2px solid #979797;
    height: 300px;
    margin-top: 85px;
    resize: none;
    padding: 15px 25px;
    color: #979797;
    letter-spacing: 2px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #979797;
}

::-moz-placeholder {
    color: #979797;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #979797;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #979797;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

.toggle-mnu {
    display: none;
    width: 28px;
    height: 28px;
    margin-top: 9px;
    position: absolute;
    right: 17px;
    top: 17px;
}

.toggle-mnu span:after,
.toggle-mnu span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 9px;
}

.toggle-mnu span:after {
    top: 18px
}

.toggle-mnu span {
    position: relative;
    display: block
}

.toggle-mnu span,
.toggle-mnu span:after,
.toggle-mnu span:before {
    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

.toggle-mnu.on span {
    background-color: transparent;
}

.toggle-mnu.on span:before {
    transform: rotate(45deg) translate(-1px, 0px);
}

.toggle-mnu.on span:after {
    transform: rotate(-45deg) translate(6px, -7px);
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*********gv*************/

.wrheadline{
    width: 100%;
    height: 60px;
    background-color: #272b34;
    font-family: "Helvetica";
    position: relative;


}
.headline{

    width: 100%;
    height: 20px;
    margin: 10px 0px;
    position: absolute;

}


header{
    width: 100%;
    height: 65px;
    background-color: #051134;
    display: block;

}

.wrapper{
    margin: 0 auto;
    max-width: 1890px;
    height: 64px;
    /*    border: 1px solid red;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;



}
.logo{
    background-image: url(../img/logo/logof.png);
    margin: 16px 5px ;
    width: 136px;
    height: 32px;
    /*    border: 1px solid red;*/
}

.navbar {
    overflow: hidden;
    width: 765px;
    margin: 16px 0px;
    font-family: "Roboto-Regular";
}

.navbar a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    line-height: 31px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}
.dropdown-content a {
    float: left;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    line-height: 50px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    width: 136px;
    height: 30px;
    background: #222769;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    padding: 0px 18px;;
    /* background-color: inherit; */
    font-family: inherit;
    margin: 0;
    display: flex;
    flex-direction: row;
}
.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    color: #c21a31;
    font-weight: 800;
    
}

.dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #222769;
    max-width: 760px;
    height: 50px;
    z-index: 1;
    top: 36px;
    left: 435px;
    position: absolute;
    /* display: flex; */
    justify-content: center;
    /* margin: 0 auto; */
}

.dropdown-content a {
    color: #f5f5f7;
    font-size: 10px;
}

.dropdown-content a:hover {
    color: #c21a31;
    font-weight: 800;
}

.show {
    display: block;
}

.fa{    
    background-image: url(../img/png/menu.png);
    margin: 0px 4px 0px 16px;
    width: 15px;
    height: 14px;
    background-size: cover;
}
.wrlog{
    height: 32px;
    margin: 16px 0px;
    display: flex;
    flex-direction: row;

}
.logbtn {
    padding: 0 5px;
    /* width: 133px; */
    height: 30px;
    background: #c21a31;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 11px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    padding: 0px 30px;
    /* background-color: inherit; */
    font-family: inherit;
    margin: 0px 7px;
    display: flex;
    flex-direction: row;
}
.logbtn:hover {
    transition: 1s;
    -webkit-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);

}
.getbtn {
    text-align: center;
    padding: 0 5px;
    width: 150px;
    height: 40px;
    background: #c21a31;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    /* padding: 0px 30px; */
    /* background-color: inherit; */
    font-family: inherit;
    margin: 40px 0px;
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
}
.getbtn:hover {
    transition: 1s;
    -webkit-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
}
.getbtn2 {
    text-align: center;
    padding: 0 5px;
    width: 150px;
    height: 40px;
    background: #c21a31;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    /* padding: 0px 30px; */
    /* background-color: inherit; */
    font-family: inherit;
    margin: 45px 20px;
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
}
.getbtn2:hover {
    transition: 1s;
    -webkit-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);

}

/*
.logsoci
    opacity: 0.35;
    cursor: pointer;
    margin: 0px 2px;

.logsoci:hover{
    opacity: 1;
    cursor: pointer;
    transition: 1s;
}
*/
.wrtelega{
    background-image: url(../img/png/t.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
    margin-right: 5px;
}
.wrtelega:hover{
    background-image: url(../img/png/ta.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
}
.wryou{
    background-image: url(../img/png/y.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
    margin-right: 5px;
}
.wryou:hover{
    background-image: url(../img/png/ya.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
}
.wrfb{
    background-image: url(../img/png/f.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
    margin-right: 5px;
}
.wrfb:hover{
    background-image: url(../img/png/fa.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    transform: 1s;
}
.wrleng{
    margin: 0px 30px;
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 30px;
    border: 1px solid #222769;
    border-radius: 20px;
}
.lengon{
    width: 50px;
    height: 30px;
    border-radius: 20px;
    background-color: #222769;
    top: -1px;
    left: -1px;
    position: relative;
    cursor: pointer;
}
.lengon:hover{
    background-color: #222769;
    cursor: pointer;
    transition: 1s;

}

.lengon>a{
    line-height: 30px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 800;
    color: white;
    text-decoration: none;
}

.lengoff>a{
    line-height: 30px;
    text-align: center;
    width: 50px;
    cursor: pointer;
    font-size: 11px;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
}
/*************************/

.wrbaner{
    background-image: url(../img/png/ban.png);

    width: 100%;
    height: 540px;
    background-size: cover;

}
.baner{
    max-width: 1890px;
    margin: 0 auto;
    height: 540px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    /*    border: 1px solid red;*/
}

#triangle-topright {
    width: 0;
    height: 0;
    border-top: 60px solid #051134;
    border-left: 35px solid transparent;
}

.lban{
    /*    border: 1px solid red;*/
    height: 540px;
    flex-grow:12;
    flex-shrink:3;
    flex basis: 30em;

}
.wraplban{
    /*    border: 1px solid red;*/
    height: 445px;
    width: 850px;
    float: right;
    margin-top: 95px;
    text-align: center;

}
.rban{
    /*    border: 1px solid red;*/
    height: 445px;
    background-image: url(../img/png/log.png);
    width:  445px;
    text-align: center;


}

.wraplot{
    width: 120px;
    margin: 0px 50px;

}

.txth2>h2{
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";

}
.txth4>h4{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";
    margin: 10px 10px 20px 10px;

}
.txth6>h6{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto-Regular";

}
.namelot{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";


}
.wrcuntre{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.multiplier {
    padding: 0.8em 1.2em;
    border-radius: 20px;
    background: #222769;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    margin-bottom: 5px;
}

.line{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: flex-end;
}

.wrnamb{
    height: 60px;
    width: 100%;
    background: #051134;
    display: flex;
    flex-direction: row;


}
.loteline{
    width: 100px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    height: 60px;
    padding: 1.5em 0.1em;
    cursor: pointer;

}
.wrmultiplier{
    margin: 10px;
    width: 60px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    border-radius: 20px;
    background: #222769;
    line-height: 38px;
    border: solid 1px #222769;
    cursor: pointer;
}
.loteline:hover {
    width: 100px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    height: 60px;
    cursor: pointer;
    padding: 1.5em 0.1em;
    cursor: pointer;
    text-decoration: underline;
}
.wrmultiplier:hover{
    cursor: pointer;
    border: solid 1px #747bce;
    transition: 1s;
}
.wrloteline{
    display: flex;
    flex-direction: row;
}
.next{
    background-image: url(../img/png/next.png);
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    display: flex;
    opacity: 0.4;
    margin: 18px 5px;
}

.next:hover{
    opacity: 1;
    transition: 1s;
}

.txth1>h1{
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    margin: 40px 0px 35px 0px;


}
.txth1w>h1{
    font-size: 24px;
    color: #6e74bf;
    font-weight: 800;
    font-family: "Roboto-Regular";

}
.txth4w>h4{
    font-size: 18px;
    color: #6e74bf;
    font-weight: 600;
    font-family: "Roboto-Regular";
    margin: 5px;
    text-transform: uppercase;


}
.txth3w>h3{
    font-size: 14px;
    color: #6e74bf;
    font-weight: 600;
    font-family: "Roboto-Regular";
    margin: 5px;
    text-transform: uppercase;
    margin: 70px 0px 10px 0px;


}
.name{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto-Regular";
    width: 110px;
    margin: 0px 35px;
}
.point{
    font-size: 34px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";

}

.wrtop{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 45px 0px 0px 0px;
}
.wrform{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#email{
    border: 1px solid #222769;
    height: 38px;
    width: 320px;
    padding: 15px;
    border-radius: 10px;
    display: block;

}


.wrbot {
    display: block;
    text-align: center;
    padding: 0 5px;
    width: 150px;
    height: 40px;
    background: #6e74bf;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    /* padding: 0px 30px; */
    /* background-color: inherit; */
    font-family: inherit;
    margin: 20px 0px;
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    
}

.wrbot:hover {
    transition: 1s;

    -webkit-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
}



/******************************/
.wrbody {
    max-width: 1890px;
    margin: 40px auto;
   
    display: flex;
    flex-direction: row;
    /*    align-items: flex-end;
    border: 1px solid red;*/
}
.wrlcontent{
    /*    border: 1px solid red;*/
    padding: 0px 15px;
/*
    flex-grow: 12;
    flex-shrink: 3;
*/
    width: calc(100% - 445px);
    display: flex;
    flex-direction: row;
}
.wrrcontent{
    /*    border: 1px solid red;*/
    height: 100%;
    background: #f5f5f7;

    width: 445px;

}
.wrrcontent>img{
    width: 100%;
}
.wrrcontent1>img{
    width: 100%;
}
.wrrcontent1{
    /*    border: 1px solid red;*/
    height: 100%;
    background: #f5f5f7;
    display:none;
    width: 350px;

}

.wrlineoze{
    background: #f5f5f7;
    height: 50px;
    width: 100%;
    margin: 10px 0px;
    flex-direction: row;
    /* align-items: flex-end; */
    display: flex;
    justify-content: space-between;
}
.txtoze {
    max-width: 260px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";
    height: 50px;
    background: #c21a31;
    display: block;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0px 10px;
    text-align: center;
    z-index: 10;
    position: relative;
}
#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 50px solid #c21a31;
    border-right: 50px solid transparent;	
}
.wrtxtoz{
    flex-direction: row;
    /* align-items: flex-end; */
    display: flex;
}
.alllink>a{
    line-height: 50px;
    margin: 0px 20px;
    color:#c21a31;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto-Regular";
    
}
.alllink>a:hover{
 
    
    font-size: 14px;
    font-weight: 800;

}


.rating > span:hover:before {
    content: "\2605";
    position: absolute;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;
}




.rating > span:hover:before, .rating > span:hover ~ span:before {
    content: "\2605";
    position: absolute;

    color: gold;
}
.wrresurs{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 10px; */
    justify-content: space-around;
}

.getbonus{
    text-align: center;
    padding: 0 5px;
    width: 120px;
    height: 40px;
    background: #2d3270;
    border-radius: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px;
    /* line-height: 62px; */
    font-weight: 800;
    border: none;
    outline: none;
    color: white;
    /* padding: 0px 30px; */
    /* background-color: inherit; */
    font-family: inherit;
    /*    margin: 45px 0px;*/
    /* display: flex; */
    /* flex-direction: row; */
    text-align: center;
    opacity: 1;
}


.getbonus:hover{
    transition: 1s;
    -webkit-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
    box-shadow: inset 1px 1px 33px -8px rgba(0,0,0,0.9);
}


.wrbonus{
    width: 70px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrstars{
    width: 110px;
    height: 80px;
    text-align: center;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameres>a {   
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto-Regular";
    color: #636363;
    margin: 5px;
    text-decoration: none;
}
.nambon{   
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto-Regular";
    color: #636363;
    margin: 5px;
}
.bonus>a{
    color: #222769;
    font-size: 18px;
    font-weight: 800;
    font-family: "Roboto-Regular";
    text-decoration: underline;
    line-height: 1.2;
   
}
.wr50ps{
    width: 50%;
    /*    border: 1px solid red;*/
    margin: 0px 15px;
}
.wrlineoze2 {

    height: 50px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    flex-direction: row;
    /* align-items: flex-end; */
    display: flex;
    justify-content: space-between;
}
.acum{
    background: #f5f5f7;
    height: 350px;
    margin-left: 45px;
    display: flex;
    flex-direction: row;
}
.wrimgacum{
    text-align: center;
    width: 190px;
    height: 360px;
    background-image: url(../img/png/acum.png);
    background-size: cover;
    right: 45px;
    position: relative;
    bottom: 60px;
    z-index: 9;
    background-position: center;
}
.point2 {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
    font-family: "Roboto-Regular";
    padding: 40px 0px;
}
.name2{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";
    padding: 120px 0px 20px 0px;
    text-transform: uppercase;


}
.wrwrplay{
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    width: 68%;
}
.wrplay{
    margin: 10px 0px;
    width: 100%;
    height: 80px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    border: 1px solid #f5f5f7;
}
.wrplay:hover {
    margin: 10px 0px;
    width: 100%;
    
    /* display: block; */
    background: #fff;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #6666664d;
    overflow: hidden;
}
.wriconpl{
    background: #e4e4e4;
    width: 60px;
    height: 80px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    padding: 20px 0px;
}
.wrspanplay{
   
    width: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;

    margin: 20px 0px;
}
.nn>a>img{
    width: 40px;
}

.time{
    width: 100%;
    color: #636363;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto-Regular";
}
.playtoplay{
    width: 100%;
    color: #222769;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto-Regular";
    margin: 5px 0px;
}
.txtplay{
    margin: 0px 10px;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 10px solid white;
}

.wrtxtpointl{
    background: #6e74bf;
    width: 60px;
    height: 80px;

    text-align: center;

}
.txtplay{
    margin: 30px 0px 20px 0px;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    font-family: "Roboto-Regular";

}
.wrlink2{
    text-align: center;
    
}
.wrlink2>a {
    
    color: #6e74bf;
}
.wrlink2>a:hover {

    color: #6e74bf;
    font-weight: 400;
}
.quizzes{
    background: #f5f5f7;
    height: 450px;
}

.wrwrnews{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.wrnews{
    width: 95%;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: inherit;
    margin: 1px;
    border: 1px solid #f5f5f7;
}
.wrnews>a {
    margin: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto-Regular";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    
}

.wrnews:hover{
    border: 1px solid #6666664d;
}
.wrnews>a:hover{

    color: #222769;
    font-weight: 600;
    

}
.weimg{
    max-width:  210px;
    margin: 15px;
}
.weimg>img{
  width: 100%;
}
.wrnotif {
    margin: 10px 5px 10px 0px;
    max-width: 210px;
    height: 380px;
    background: #f5f5f7;
    border: 1px solid #fff;
}
.wrnotif:hover {

    border: 1px solid #6666664d;
}
.wrima{
    max-width: 210px;
}
.wrima>img{
   width: 100%;
}
.txtnotif{
    margin: 10px 10px;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    font-family: "Roboto-Regular";
}
.txttextera {
    height: 27%;
    margin: 10px 10px;
    color: #636363;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    font-family: "Roboto-Regular";
}
.wrpa>p>a{
    text-decoration: underline;
    color: #c21a31;
    margin: 10px 10px;
}
.wrwrnotif{
    display: flex;
    justify-content: space-between;
}
.nostalgie{
    margin: 40px 0px;
}
.wrwrvideo{
    width: 100%;
    background: #f5f5f7;
}
.wrvideo{
    padding: 10px;
    text-align: center;
}
.wrnext>a>img:hover{
    border: 2px solid #c21a31;

}
.wrnext>a>img{
    border: 2px solid #fff;
    width: 100%;

}
.wrnext{
    display: flex;
    /* margin: 10px 0px; */
    justify-content: center;
    align-content: center;
}
.nn{
    cursor: pointer;
    opacity: 0.5;
    margin: 15px 0px;
}
.nn:hover{
    opacity: 1;
}



.wrwrtoppost{

    width: 98%;
    height: 396px;
    background-image: url(../img/png/bab.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;



}

.txtoze2 {
    margin: 150px 10px 10px 10px;

    font-size: 30px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";

    text-transform: uppercase;

}
.alllink2>a{
    line-height: 50px;
    margin: 0px 55px 0px 10px;
    color:#fff;
    font-size: 14px;
    font-weight: 600;
    font-family: "Roboto-Regular";
    text-align: center;
    text-decoration: none;
}
.alllink2>a:hover{
    transition: 1s;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 800;

}
.wrtopnews{
    margin: 10px;
    max-width: 230px;
    height: 280px;
    cursor: pointer;
    color: #fff;
    background-color: rgb( 5, 17, 52 );
    overflow: hidden;
    text-decoration: none;

}
.wrtopnews>a{
    text-decoration: none;
}
.wrtopnews>a>img{
    width: 100%;
}
.txtetop{
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-family: "Roboto-Regular";
}
.txtetop:hover {
    margin: 10px;
    text-decoration: underline;
   
}
.wrtopnews:hover{
    width: 230px;
    height: 280px;
    cursor: pointer;
    color: #fff;
    background-color: #6e74bf;
    overflow: hidden;


}
.wrwrwr{
    display: flex;
    align-items: center;
    width: 70%;
}
.wrlcontent2 {
    width: calc(100% - 445px);
    /* border: 1px solid red; */
    /* padding: 0px 15px; */
    /* flex-grow: 12; */
    /* flex-shrink: 3; */
    display: flex;
    flex-direction: column;

}


/*****************/


.wrtab {
    width: 225px;
    height: 274px;
    mix-blend-mode: undefined;
    background-color: #22276994;
    margin-top: 20px;
}
.wrwrtad {
    display: flex;
    margin: 0px 0px 5px 25px;
    background-image: url(../img/d-pz-r-5-fq-xk-acso-uh-e-1513759899487-800-x-350-c.png);
    width: 658px;
    height: 328px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrwrtad2 {
    display: flex;
    margin: 0px 0px 5px 25px;
    background-image: url(../img/d-pz-r-5-fq-xk-acso-uh-e-1513759899487-800-x-350-c2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 658px;
    height: 328px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
}
.wrwrtad3 {
    display: flex;
    margin: 0px 0px 5px 25px;
    background-image: url(../img/d-pz-r-5-fq-xk-acso-uh-e-1513759899487-800-x-350-c3.png);
    width: 658px;
    height: 328px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrwrtad4 {
    display: flex;
    margin: 0px 0px 5px 25px;
    background-image: url(../img/d-pz-r-5-fq-xk-acso-uh-e-1513759899487-800-x-350-c4.png);
    width: 658px;
    height: 328px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrwrtad5 {
    display: flex;
    margin: 0px 0px 5px 25px;
    background-image: url(../img/d-pz-r-5-fq-xk-acso-uh-e-1513759899487-800-x-350-c5.png);
    width: 658px;
    height: 328px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
    background-size: cover;
    background-repeat: no-repeat;
}
.wraptab{
    width: 715px;
    height: 357px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
}
/**************************/

.tabs { 
    margin: 20px 0px;
    height: 357px;
    width: 100%; 
    position: relative; 

} 
section { 
    display: none;  
    padding: 15px; 
    background: white; 
    position: absolute; 
    top: 0; 
/*    left: 695px; */
    left: calc(100% - 750px);
} 
p { 
    margin: 0; 
} 
input { 
    display: none; 
} 
.label {
    display: block;
    width: 180px;
    padding: 15px;
    color: #4F5966;
    background: #DEE8F2;
    cursor: pointer;
    width: calc(100% - 695px);
    height: 73px;
    mix-blend-mode: undefined;
    background-color: #f5f5f7;
    margin: 0px 0px 1px 0px;
    padding-right: 5%;
}
input:checked + .label {
    /* color: #555; */
    /* background: white; */
    max-width: 695px;
    height: 60px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";
    font-size: 15px;
}
#tab1:checked ~ #content1, #tab2:checked ~ #content2, #tab3:checked ~ #content3, #tab4:checked ~ #content4, #tab5:checked ~ #content5 { 
    display: block;
    max-width: 715px;
    height: 356px;
    mix-blend-mode: undefined;
    background-color: #6e74bf;
} 
/*
section { 
    animation: scale 0.7s ease-in-out; 
} 
*/
@keyframes scale { 
    0% { 
        transform: scale(0.9); 
        opacity: 0; 
    } 
    50% { 
        transform: scale(1.005); 
        opacity: 0.5; 
    } 
    100% { 
        transform: scale(1); 
        opacity: 1; 
    } 
}

#triangle-topleft2 {
    width: 0;
    height: 0;
    border-top: 274px solid #22276994;
    margin-top: 20px;
    border-right: 100px solid transparent;			
}
.txttoph{
    z-index: 1212;
    width: 228px;
    height: 96px;
    color: #fff;
    font-weight: 600;
    font-family: "Roboto-Regular";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    margin: 58px 0px 0px 18px;
}
.wrfoot{
    height: auto;
    width: 100%;
    background-color: #051134;
    /*
    background-image: url(../img/shape-2-copy-20.png);

    */
    
}
.foot{
    max-width: 1100px;
    height: 300px;
    /*    border: 1px solid red;*/
    margin: 0 auto;
    display: flex;
}
.wrcopy{
    width: 100%;
    height: 40px;
    font-weight: 600;
    font-family: "Roboto-Regular";
    text-align: center;
    background: #040d27;
    color: #222769;
    line-height: 40px;
    font-size: 14px;
    font-weight: 200;
}
.wrf30{
    /*    border: 1px solid red;*/
    width: 30%;
    height: 300px;
}
.wrf70{

    /*    border: 1px solid red;*/
    width: 70%;
    /* height: 300px; */
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #f5f5f7;
    margin: 40px 10px;
}
.wrlimenu>ul{
    text-decoration: none;
    list-style: none;
}
.wrlimenu>ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

.wrlimenu>ul>li>a {
    letter-spacing: normal;
    text-decoration: none;
    text-align: left;
    color: #f5f5f7;
    font-weight: 400;
    font-family: "Roboto-Regular";
    font-size: 12px;
}
.wrlimenu>ul>li>a:hover {
    letter-spacing: normal;
    text-decoration: underline;
    text-align: left;
    color:   #6e74bf;
    font-weight: 400;
    font-family: "Roboto-Regular";
    font-size: 12px;
}
.wrlimenu>ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;

}
.wrlimenu{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px 10px 0px;
}
.wrsos{
    display: flex;
}

.at-1 {
    width: 20px;
    height: 20px;
    object-fit: contain;
    mix-blend-mode: undefined;
    margin: 0px 5px;
}
.wrmailwr{
    display: flex;
}

.info-getfreebetcom>a{


    mix-blend-mode: undefined;
    font-family: "Roboto-Regular";
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    text-decoration: none;

    color: #c21a31;
}

.wrwrsos{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-us {
    font-family: "Roboto-Regular";
    font-size: 10px;
    font-weight: 300;
    /* font-style: normal; */
    /* font-stretch: normal; */
    line-height: 1.85;
    /* letter-spacing: normal; */
    /* text-align: left; */
    color: #f5f5f7;
    text-align: center;
}
.wrwrend{
    text-align: center;
}
.wrwewl {
    background-color: #051134;
    background-image: url(../img/shape-2-copy-20.png);
    width: 380px;
    height: 300px;
    /* object-fit: contain; */
    background-size: cover;
    background-position-x: -120px;
    background-repeat: no-repeat;
    background-position-y: 80px;

}
.wrwewr {
    background-color: #051134;
    background-image: url(../img/shape-2-copy-20.png);
    width: 380px;
    height: 300px;
    background-size: cover;
    background-position-x: -40px;
    background-repeat: no-repeat;
    background-position-y: -60px;
}
.wrapfoot{
    display: flex;
}

/******************08***********************/

.opas{
    display: none;
}
.opas2{
    display: none;
}
.bef{
    
    background-image: url(../img/png/bf.png);
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    display: flex;
    opacity: 0.4;
    margin: 18px 5px;
    display: none
}
.wrleng02{
    display: none;
}
